@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-roboto: roboto, sans-serif;
  --font-roboto-slab: roboto-slab, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}